@font-face {
	font-family: Gotham;
	src:url(../fonts/10178.otf);
}
@font-face {
	font-family: Myriad Pro;
	src:url(../fonts/Myraid.otf);
}
@font-face {
	font-family: Open Sans;
	src:url(../fonts/2211.ttf);
}
body {
	font-size: 15px;
	color: black;
	margin: 0 auto;
	overflow-x: hidden;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
h1, .h1 {
color: #f5f5f5;
font-family: Gotham;
font-size: 153px;
font-weight: 700;
text-transform: uppercase;
}
h2,.h2 {
	margin: 0;
	padding: 0;
color: #ffffff;
font-family: Gotham;
font-size: 38px;
font-weight: 500;
text-transform: uppercase;
}
h3,.h3 {
color: #ffffff;
font-family: Gotham;
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
}
.container {
	max-width: 1176px;
	margin: 0 auto;
	padding: 0 10px;
}
.container-fluid {
	max-width: 2000px;
	margin: 0 auto;
}
.main-header {
	background: url(../img/header-fon.png)no-repeat center center;
	background-size: cover;
	height: 875px;
	text-align: center;
}
.main-header-top {
border-bottom: 1px solid #787878;	

}
.header-flex {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.logo {
	margin-top: 20px;
	margin-bottom: 10px;
}
.menu {
	display: flex;
	font-size: 20px;
	font-weight: 400;
	font-family: Myriad Pro;
}
.menu a {
	margin-left: 45px;
	color: #ffffff;
	position: relative;
}

.menu a:hover {
	color: #868686;
}
.menu a:hover::after {
	content: "";
	width: 125%;
	height: 6px;
	background-color: #11749e;
	position: absolute;

	left: -10%;
	top: 58px;
}
.social-nav-ul {
	display: flex;
}
.social-nav-ul a {
	display: block;
	margin-left: 23px;
}
.main-header h1 {
	margin-top: 150px;
	margin-bottom: 200px;
}
.scrol-icon {
color: #ffffff;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
position: relative;
}
.scrol-icon::after {
	content: "";
	width: 70px;
	height: 70px;
	position: absolute;
	background: url(../img/icon-arrow.png)no-repeat center center;
	cursor: pointer;
	left: 0;
	top: 40px;
}

/*Социальны кнопки*/

.soc-f,.soc-t,.soc-s,.soc-in {
	width: 20px;
	height: 20px;
}
.soc-f {
	background: url(../img/f.png)no-repeat center center;
}
.soc-t {
	background: url(../img/t.png)no-repeat center center;	
}
.soc-s {
	background: url(../img/s.png)no-repeat center center;	
}
.soc-in {
	background: url(../img/in.png)no-repeat center center;	
}

/*Section AWESOME*/

.awesome {
	text-align: center;
	background: url(../img/w.png)no-repeat #11749e;
	background-position: center 15%;
	
	padding-top: 172px;
}
.feature {
	margin-top: 300px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.feature-item {
	width: 258px;
	position: relative;
	margin-bottom: 130px;
}
.feature-item p {
	
	color: #ffffff;
	font-family: "Gotham";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.item-one::before {
	content: "";
	width: 133px;
	height: 133px;
	background-image: url(../img/feature-1.png);
	background-color: #2e85aa;
	position: absolute;
	border-radius: 100px;
	background-position: center center;
	left: 25%;
	top:-150px;
}
.item-two::before {
	content: "";
	width: 133px;
	height: 133px;
	background-image: url(../img/feature-2.png);
	background-color: #2e85aa;
	position: absolute;
	border-radius: 100px;
	background-position: center center;
	left: 25%;
	top:-150px;
}
.item-three::before {
	content: "";
	width: 133px;
	height: 133px;
	background-image: url(../img/feature-3.png);
	background-color: #2e85aa;
	position: absolute;
	border-radius: 100px;
	background-position: center center;
	left: 25%;
	top:-150px;
}
.item-four::before {
	content: "";
	width: 133px;
	height: 133px;
	background-image: url(../img/feature-4.png);
	background-position: center center;
	background-color: #2e85aa;
	position: absolute;
	border-radius: 100px;
	left: 25%;
	top:-150px;
}
/*Akita*/

.akita {
	background: #222222 url(../img/akita-fon-1.png)no-repeat;
	background-position: 100%;
	height: 474px;
	background-color: #222222;
}
.akita-left {
	width: 469px;
	padding-top: 100px;
}
.text-white {
	color: #ffffff;
	font-family: "Gotham";
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}
.text-b {
	color: #ffffff;
	font-family: "Gotham";
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}
.akita-two {
	background: #222222 url(../img/akita-fon-2.png)no-repeat;
	height: 474px;
	background-color: #f3f3f3;
}
.akita-flex {
	display: flex;
	max-width: 1100px;
	justify-content: flex-end;
}
.akita-right {
	width: 469px;
	padding-top: 100px;
}
.text-dark {
	color: #222222;
	font-family: "Gotham";
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}
.akita-h3-dark {
	color: #222222;
	font-family: Gotham;
	font-size: 25px;
	font-weight: 500;
	line-height: 36px;
	text-transform: uppercase;
}

/*Blog*/
.blog {
	background: #ffffff url(../img/b.png)no-repeat;
	background-position: center 10%;
	text-align: center;
	padding-top: 150px;
}
.h2-darks {
	color: #222222;
	font-family: Gotham;
	font-size: 38px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 110px;
}
.text-darks {
	color: #222222;
	font-family: "Gotham";
	font-size: 25px;
	font-weight: 400;
}
.fresh-main {
	display: flex;
	margin-top: 70px;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 100px;
}
.fresh-item {
	width: 270px;
}
.h3-blue-item {
	color: #11749e;
	font-family: Gotham;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.text-dar {
	color: #222222;
	font-family: "Gotham";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	
}
/*Blue-cum*/
.blue-cum {
	background: #11749e;
	padding: 140px 0;
}
.properies {
	display: flex;
}

.properies-item {
	width: 565px;
	display: flex;
	position: relative;
	
}
.properies-item p {
	width: 400px;
	margin-left: 110px;
}
.properies-item::before {
	content: "";
	width: 75px;
	height: 75px;
	background: url(../img/write-icon.png)no-repeat center center;
	position: absolute;
	left: 0;
	top: 15px;
}
/*Dog*/
.dog {
	
	background: url(../img/dog-fon.png) no-repeat;
	background-size: cover;
	padding-top: 250px;
	padding-bottom: 250px;
	position: relative;
}
.dog::before {
	content: "";
	width: 390px;
	height: 651px;
	background: url(../img/phone.png)no-repeat;
	position: absolute;
	margin-left: 60%;
	top: 150px;
}
.dog-left {
	width: 500px;
}
.fully-ul {
	margin-top:60px;
}
.fully-ul li {
	background: #11749e;
	color: #ffffff;
	font-family: Gotham;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 25px;
	padding: 13px 0 13px 19px;
}
.fully-ul li:nth-child(1) {
	width: 370px;

}
.fully-ul li:nth-child(2) {
	width: 400px;
}
.fully-ul li:nth-child(3) {
	width: 428px;
}

/*Team*/
.team {
	background: url(../img/t-team.png) no-repeat 50% 10%;
	text-align: center;
	padding: 120px 0;
}
.team-all {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 70px;
}
.team-person{
	width: 270px;
	height: 415px;
	position: relative;
}
.team-name {
	width: 180px;
	padding: 15px 25px;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 370px;
}

.team-person:nth-child(1) {
	background: url(../img/team-1.png)no-repeat 100%;
}

.team-person:nth-child(2) {
	background: url(../img/team-2.png)no-repeat;
}
.team-person:nth-child(3) {
	background: url(../img/team-3.png)no-repeat;
}
.team-person:nth-child(4) {
	background: url(../img/team-4.png)no-repeat;
}
.name-person {
	color: #11749e;
	font-family: Gotham;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
}
.spec-person {
	color: #000000;
	font-family: Gotham;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
}
/*Love*/

.love {
	
	background: url(../img/love-fon.png)no-repeat;
	text-align: center;
	background-size: cover;
	background-position: 50%;
	padding-top: 180px;
	padding-bottom: 100px;
}
.love .h2 {

color: #ffffff;
font-family: Gotham;

font-weight: 500;
line-height: 32px;
text-transform: uppercase;

font-size: 35px;
}
.form-call form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
.form-call input {
	background: none;
	width: 31%;
	height: 48px;	
	border: 1px solid #ffffff;
	color: white;
	outline: none;
	margin-top: 150px;
	margin-bottom: 40px;
	box-sizing: border-box;
	padding: 20px;
	font-size: 15px;
}
.form-call textarea {
	background: none;
	width: 100%;
	outline: none;
	border: 1px solid #ffffff;
	color: white;
	padding: 20px;
	font-size: 15px;
}
.btn{

color: #ffffff;
font-family: Gotham;
font-size: 24px;
font-weight: 500;
line-height: 24px;
text-transform: uppercase;
padding: 20px 65px;
background-color: #11749e;
border: none;
margin: 50px auto
}

::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}/* Firefox 19+ */
:-moz-placeholder           {color:white;}/* Firefox 18- */
:-ms-input-placeholder      {color:white;}

/*Map*/
.map {
	height: 300px;
}
/*Footer*/
footer {
	padding: 40px 0;
	background: #222222;
}
.copy {
	color: #ffffff;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.26px;
}
.footer-flex {
	display: flex;
	justify-content: space-between;
}
/*Breakpoints and Media Quaries*/

@media only screen and (max-width:1280px) {
	.akita {
		background-position: 150%;
	}
	.akita-two {
		background-position: -50%;
	}
}

@media only screen and (max-width:1120px) {
	.akita {
		background-image: none;
	}
	.akita-left {
		width: 100%;
	}
	.akita-two {
		background-image: none;

	}
	.akita-right {
		width: 100%;
	}
	.fresh-main {
		justify-content: space-around;
	}
	.team-all {
		justify-content: space-around;
	}
	.team-person {
		margin-top: 50px;
	}
	 h1, .h1 {
    font-size: 100px;
	}
	.feature {
		justify-content: space-around;
	}
	.feature-item {
		margin-top:25px;
	}
	.properies-item p  {
		width: 100%;
		min-width: 250px;
	}
	.properies {
		direction: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}

@media only screen and (max-width:500px) {
	h1, .h1 {
    font-size: 60px;}
    .dog-left {
    	width: 100%;
    }
    .dog::before {
    	position: relative;
    }
}
	




















